title: FOSS Foundations Directory
description: Comprehensive metadata directory about non-profit FOSS Foundations.
theme: just-the-docs
url: https://fossfoundation.info
ga_tracking: G-LF1HV9CP39

author: Shane Curcuru
twitter:
  username: shanecurcuru
  card: summary

# Just-the-docs configuration
search_enabled: true
heading_anchors: true
gh_edit_link: true
gh_edit_link_text: Edit this page on GitHub.
gh_edit_repository: https://github.com/Punderthings/fossfoundation
gh_edit_branch: main
gh_edit_view_mode: tree
callouts:
  note:
    title: NOTE
    color: green

aux_links:
  "FOSS Foundations On GitHub":
    - "https://github.com/Punderthings/fossfoundation"
    
nav_external_links:
  - title: Choose A Foundation
    url: https://chooseafoundation.com/
  - title: FOSS Foundation Funding
    url: https://fossfunding.com/
  - title: Shane Curcuru / Punderthings
    url: https://punderthings.com/

# Jekyll setup and collections
include:
  - _pages

collections:
  foundations:
    output: true
    sort_by: name
    permalink: /:collection/:path
  sponsorships:
    output: true
    sort_by: name
    permalink: /:collection/:path
  entities:
    output: true
    sort_by: name
    permalink: /:collection/:path

# Defaults
defaults:
  - scope:
      path: ""
      type: "foundations"
    values:
      layout: foundation
  - scope:
      path: ""
      type: "sponsorships"
    values:
      layout: sponsorship
  - scope:
      path: ""
      type: "entities"
    values:
      layout: entity
