---
layout: default
---

{{ content }}

{% include foundation-list-nav.html %}

<hr id="tagindex" />
{{ categorynav }}
<section id="newProjects">
  <h3>Accepts New Projects?</h3>
  <p>These organizations actively accept new projects for hosting, and notes if they are a <a href="#fiscalHost">Fiscal Host</a>.</p>
  <ul>
    {% for fdn in site.foundations %}{% if fdn.newProjects contains 'yes' %}<li><a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a>{% if fdn.fiscalHost %} <span class="label label-green">{{ fdn.fiscalHost }}</span>{% endif %}</li>{% endif %}{% endfor %}
  </ul>
</section>

{{ categorynav }}
<section id="fiscalHost">
  <h3>Fiscal Hosts</h3>
  <p>Type of fiscal hosting provided: direct funding, indirect funding, employee services, etc.</p>
  <ul>
    {% assign fiscalfdn = site.foundations | where_exp: 'fdn', 'fdn.fiscalHost' %}
    {% for fdn in fiscalfdn %}<li><a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a> <span class="label label-green">{{ fdn.fiscalHost }}</span></li>{% endfor %}
  </ul>
</section>

{{ categorynav }}
<section id="addressCountry">
  <h3>Foundations By Country</h3>
  <table>
    <thead>
      <tr>
        <th style="text-align: left"><h4>US Foundations</h4></th>
        <th style="text-align: left"><h4>Non-US Foundations</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left">
          {% for fdn in site.foundations %}{% if fdn.addressCountry == 'US' %}<a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a><br/>{% endif %}{% endfor %}
        </td>
        <td style="text-align: left">
          <ul>
          {% for fdn in site.foundations %}{% if fdn.addressCountry != 'US' %}<li><span class="label label-yellow">{{ fdn.addressCountry }}</span> <a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a></li>{% endif %}{% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</section>

{{ categorynav }}
<section id="nonprofitStatus">
  <h3>Foundations By Nonprofit Types</h3>
  <table>
    <thead>
      <tr>
        <th style="text-align: left"><h4>US 501(c)(3)</h4></th>
        <th style="text-align: left">All Others</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left">
          <ul id="Nonprofit501c3">
            {% for fdn in site.foundations %}{% if fdn.nonprofitStatus == 'Nonprofit501c3' %}<li><a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a></li>{% endif %}{% endfor %}
          </ul>
        </td>
        <td style="text-align: left">
          <h4>US 501(c)(6)</h4>
          <ul id="Nonprofit501c6">
          {% for fdn in site.foundations %}{% if fdn.nonprofitStatus == 'Nonprofit501c6' %}<li><a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a></li>{% endif %}{% endfor %}
          </ul>
          <h4>Non-US Nonprofits</h4>
          <ul id="nonus">
          {% assign otherfdn = site.foundations | where_exp: 'fdn', "fdn.nonprofitStatus != 'Nonprofit501c3' and fdn.nonprofitStatus != 'Nonprofit501c6'" %}
          {% for fdn in otherfdn %}<li><a href="/foundations/{{ fdn.identifier }}">{{ fdn.commonName }}</a> <span class="label label-blue">{{ fdn.nonprofitStatus }}</span></li>{% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</section>

{{ categorynav }}
<section id="coc">
  <h3>Codes of Conduct</h3>
  <p>Including <emphasis>obviously</emphasis> linked Codes of Conduct, with any noted inspirations for the source thereof.</p>
  <ul id="coclist">
    {% for fdn in site.foundations %}{% if fdn.conducturl %}<li>{{ fdn.commonName }} <a href="{{ fdn.conducturl }}">{{ fdn.conducturl }}</a>{% if fdn.conductSource %}, <em>inspiration:</em> {{ fdn.conductSource }}{% if fdn.conductSource contains 'Covenant' %} <span class="label label-purple">Covenant</span>{% endif %}{% endif %}{% if fdn.conductEvents %}, <a href="{{ fdn.conductEvents }}">Event-specific CoC</a>{% endif %}</li>{% endif %}{% endfor %}  
  </ul>
</section>
